<div class="main">
    <div class="sub-1">
        <h1>Categories</h1>
        <div>
            <p>Last update January 29, 2023 at 2.39PM</p>
            <button><i class="fas fa-plus"></i> Add Category</button>
        </div>
    </div>
    <div class="sub-2">
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
        <div>
            <div><i class="fas fa-tshirt"></i></div>
            <p>Bottoms</p>
            <p>49 items</p>
        </div>
    </div>
</div>