header {
    font-size: 1.5vw;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0.7vw;
    margin: 0.7vw 0px;
    color: var(--main-color);
}

header > div:last-child > * {
    margin: 0px 0.8vw;
}

header > div:last-child > i:last-child {
    font-size: 1.8vw;
}

.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 92vh;
    display: flex;
    align-items: flex-start;
}

.main > nav {
    width: 17%;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 1vw;
}

.main > article {
    width: 85%;
    height: 100%;
    overflow: auto;
}

nav { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 4vh 2vw;
}

nav > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1vw;
    font-weight: 700;
    margin: 1.5vh 0;
}

nav a > i {
    margin-right: 0.9vw;
}
