<header>
    <div>
        Inventor
    </div>
    <div>
        <i class="fas fa-comment-medical"></i>
        <i class="fas fa-bell"></i>
        <i class="fas fa-cog"></i>
        <i class="fas fa-user-circle"></i>
    </div>
</header>
<div class="main">
    <nav>
        <div class="nav-1">
            <a [routerLink]="['home']"><i class="fas fa-home"></i>  Home</a>
            <a [routerLink]="['products']"><i class="fas fa-shopping-bag"></i>  Products</a>
            <a [routerLink]="['categories']"><i class="fas fa-shapes"></i>  Catogories</a>
            <a [routerLink]="['stores']"><i class="fas fa-store"></i>  Stores</a>
            <a [routerLink]="['/']"><i class="fas fa-money-check-alt"></i>  Finances</a>
            <a [routerLink]="['/']"><i class="fas fa-wrench"></i>  Setting</a>
        </div>
        <div class="nav-2">
            <a href="#"><i class="fas fa-plus-circle"></i>  Add product</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i>  Log out</a>
        </div>
    </nav>
    <article>
       <router-outlet></router-outlet>
    </article>
</div>