<div class="main">
    <div class="sub-1">
        <div>
            <h1>Recent activiy</h1>
            <div>
                <div *ngFor="let item of labelInfo">
                    <p>{{item.value}}</p>
                    <p>{{item.unit}}</p>
                    <p>{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-2">
            <div>Sales</div>
            <div>
                <div>
                    <span>Top item categories</span>
                    <span>VIEW ALL</span>
                </div>
                <div>
                    <div><i class="fas fa-tshirt"></i></div>
                    <div><i class="fas fa-hat-cowboy"></i></div>
                    <div><i class="fas fa-shopping-bag"></i></div>
                    <div><i class="fas fa-mitten"></i></div>
                    <div><i class="fas fa-suitcase-rolling"></i></div>
                    <div><i class="fas fa-glasses"></i></div>
                </div>
            </div>
            <div>
                <div>Stock numbers</div>
                <div>
                    <table>
                        <ng-container *ngFor="let x of stock, let xIndex = index">
                            <tr>
                                <td>{{x?.name}}</td>
                                <td>{{x?.value}}</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
            <div>
                <div>
                    <span>Stores list</span>
                    <span>VIEW ALL</span>
                </div>
                <div>
                    <table>
                        <ng-container *ngFor="let x of stores, let xIndex = index">
                            <tr>
                                <td>{{x?.name}}</td>
                                <td>{{x?.employees}} employees</td>
                                <td>{{x?.items}} items</td>
                                <td>{{x?.orders}} orders</td>
                            </tr>
                        </ng-container>
                    </table>
                </div>
            </div>
    </div>
</div>