.main {
    height: 100%;
    overflow: auto;
}

.sub-1 {
    height: 30%;
    padding: 0 2vw;
}

.sub-1 > div > div {
    display:  flex;
    justify-content: space-between;
    column-gap: 0.5vw;
}

.sub-1 > div > div > * {
    background-color: white;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1vw;
    box-shadow: var(--main-color) 0px 2px 8px 0px;
}

.sub-1 > div > div > * > p {
    margin: 0.7vw 0;
}

.sub-1 > div > div > * > p:nth-child(1) {
    font-size: 1.7vw;
    font-weight: 500;
    color: rgb(93, 2, 179);
}

.sub-1 > div > div > * > p:nth-child(2) {
    color: var(--main-color);
    font-weight: bolder;
}

.sub-1 > div > div > * > p:nth-child(3) {
    font-weight: bold;
}

.sub-2 {
    height: 67%;
    background-color: white;
    padding: 1.5vw 2vw 1.5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
}

.sub-2 > div:nth-child(1) {
    grid-column: 1/3;
}

.sub-2 > div:last-child {
    grid-column: 2/4;
}

.sub-2 > div:nth-child(2) span:nth-child(2),
.sub-2 > div:nth-child(4) span:nth-child(2) {
    color: rgb(179, 179, 179);
    font-weight: lighter;
}

.sub-2 > div:nth-child(2) > div:first-child,
.sub-2 > div:nth-child(4) > div:first-child {
    display: flex;
    justify-content: space-between;
}

.sub-2 > div:nth-child(2) > div:last-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5vh;
    column-gap: 0.5vw;
    padding-top: 1vw;
}

.sub-2 > div:nth-child(2) > div:last-child > * {
    background-color: rgb(177, 122, 243);
    color: rgb(93, 2, 179);
    width: 24%;
    height: 4vw;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sub-2 > * {
    background-color: var(--main-color-1);
    padding: 1.5vh 1.5vh;
    font-size: larger;
    font-weight: bold;
    border-radius: 1vw;
}

.sub-2 > div:nth-child(3) table {
    width: 100%;
    margin: 1vw 0 0;
}

.sub-2 > div:nth-child(3) table td {
    padding-bottom: 1vw;
}

.sub-2 > div:nth-child(4) table {
    width: 100%;
    margin: 1vw 0 0;
}

.sub-2 > div:nth-child(4) table td {
    padding-bottom: 1vw;
}